In [38]:
import os
import sys
# from pyspark import SparkContext
from pyspark.sql import SparkSession

In [39]:
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [40]:
# sc = SparkContext("local", "app_1")
spark = SparkSession.builder.master("local").appName("app_1").getOrCreate()

In [41]:
data = [('John', 45, 'IT'), ('Sam', 40, 'HR'), ('Smith', 41, 'IT')]
rdd = spark.sparkContext.parallelize(data)

In [42]:
df = rdd.toDF()
print(df)

DataFrame[_1: string, _2: bigint, _3: string]

In [43]:
df.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)
 |-- _3: string (nullable = true)

In [44]:
columns=['id','name','dept']
df2= rdd.toDF(columns)
print(df2)

DataFrame[id: string, name: bigint, dept: string]

In [45]:
df2.show()

+-----+----+----+
|   id|name|dept|
+-----+----+----+
| John|  45|  IT|
|  Sam|  40|  HR|
|Smith|  41|  IT|
+-----+----+----+

In [46]:
anime=spark.read.csv('anime.csv',header=True)

In [47]:
anime.show()

+--------+--------------------+--------------------+-----+--------+------+-------+
|anime_id|                name|               genre| type|episodes|rating|members|
+--------+--------------------+--------------------+-----+--------+------+-------+
|   32281|      Kimi no Na wa.|Drama, Romance, S...|Movie|       1|  9.37| 200630|
|    5114|Fullmetal Alchemi...|Action, Adventure...|   TV|      64|  9.26| 793665|
|   28977|            GintamaÂ°|Action, Comedy, H...|   TV|      51|  9.25| 114262|
|    9253|         Steins;Gate|    Sci-Fi, Thriller|   TV|      24|  9.17| 673572|
|    9969|       Gintama&#039;|Action, Comedy, H...|   TV|      51|  9.16| 151266|
|   32935|Haikyuu!!: Karasu...|Comedy, Drama, Sc...|   TV|      10|  9.15|  93351|
|   11061|Hunter x Hunter (...|Action, Adventure...|   TV|     148|  9.13| 425855|
|     820|Ginga Eiyuu Densetsu|Drama, Military, ...|  OVA|     110|  9.11|  80679|
|   15335|Gintama Movie: Ka...|Action, Comedy, H...|Movie|       1|  9.10|  72534|
|   15417|Gintama&#039;: En...|Action, Comedy, H...|   TV|      13|  9.11|  81109|
|    4181|Clannad: After Story|Drama, Fantasy, R...|   TV|      24|  9.06| 456749|
|   28851|      Koe no Katachi|Drama, School, Sh...|Movie|       1|  9.05| 102733|
|     918|             Gintama|Action, Comedy, H...|   TV|     201|  9.04| 336376|
|    2904|Code Geass: Hangy...|Action, Drama, Me...|   TV|      25|  8.98| 572888|
|   28891|Haikyuu!! Second ...|Comedy, Drama, Sc...|   TV|      25|  8.93| 179342|
|     199|Sen to Chihiro no...|Adventure, Drama,...|Movie|       1|  8.93| 466254|
|   23273|Shigatsu wa Kimi ...|Drama, Music, Rom...|   TV|      22|  8.92| 416397|
|   24701|Mushishi Zoku Sho...|Adventure, Fantas...|   TV|      10|  8.88|  75894|
|   12355|Ookami Kodomo no ...|Fantasy, Slice of...|Movie|       1|  8.84| 226193|
|    1575|Code Geass: Hangy...|Action, Mecha, Mi...|   TV|      25|  8.83| 715151|
+--------+--------------------+--------------------+-----+--------+------+-------+
only showing top 20 rows

In [48]:
df = spark.sparkContext.parallelize([(1, 2, 3, 'a b c'),
(4, 5, 6, 'd e f'),
(7, 8, 9, 'g h i')]).toDF(['col1', 'col2', 'col3','col4'])

In [49]:
df.show()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|   1|   2|   3|a b c|
|   4|   5|   6|d e f|
|   7|   8|   9|g h i|
+----+----+----+-----+

In [50]:
myData = spark.sparkContext.parallelize([(1,2), (3,4), (5,6), (7,8), (9,10)])

In [51]:
myData.collect()

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

In [52]:
Employee = spark.createDataFrame([
    ('1', 'Joe', '70000', '1'),
    ('2', 'Henry', '80000', '2'),
    ('3', 'Sam', '60000', '2'),
    ('4', 'Max', '90000', '1')],
    ['Id', 'Name', 'Sallary', 'DepartmentId']
)

In [53]:
Employee.show()

+---+-----+-------+------------+
| Id| Name|Sallary|DepartmentId|
+---+-----+-------+------------+
|  1|  Joe|  70000|           1|
|  2|Henry|  80000|           2|
|  3|  Sam|  60000|           2|
|  4|  Max|  90000|           1|
+---+-----+-------+------------+

SPARK DF vs Pandas DF

In [54]:
import pandas as pd
import numpy as np

In [55]:
my_list = [['a', 1, 2], ['b', 2, 3], ['c', 3, 4]]
col_name = ['A', 'B', 'C']

In [56]:
# caution for the columns=
pd.DataFrame(my_list, columns=col_name)

   A  B  C
0  a  1  2
1  b  2  3
2  c  3  4

In [57]:
spark.createDataFrame(my_list, col_name).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  2|  3|
|  c|  3|  4|
+---+---+---+

In [58]:
d = {'A': [0, 1, 0],
     'B': [1, 0, 1],
     'C': [1, 0, 0]}

In [59]:
pd.DataFrame(d)

   A  B  C
0  0  1  1
1  1  0  0
2  0  1  0

In [60]:
spark.createDataFrame(np.array(list(d.values())).T.tolist(), list(d.keys())).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  0|  1|  1|
|  1|  0|  0|
|  0|  1|  0|
+---+---+---+